<div [formGroup]="form">
  <mat-radio-group formControlName="courseType">
    <mat-radio-button value="free"> Free </mat-radio-button>
    <mat-radio-button value="premium"> Premium </mat-radio-button>
  </mat-radio-group>

  <!-- File Upload Component -->
  <app-file-upload
    matInput
    requiredFileType="image/png"
    formControlName="thumbnail"
  ></app-file-upload>
  <mat-error>
    <ng-container
      *ngIf="
        _thumbnail.touched && _thumbnail.errors
          | onlyOneError
            : ['uploadFailed', 'wrongFileType', 'required'] as error
      "
    >
    <div *ngIf="error.uploadFailed">thumbnail upload failed</div>
    <div *ngIf="error.wrongFileType">thumbnail wrongFileType</div>
    <div *ngIf="error.required">thumbnail required</div>
    </ng-container>
  </mat-error>

  <!-- File Upload Component -->
  <!-- rating input-->
  <app-rating-input
    formControlName="freeExpectation"
    label="Free Expectation"
    [messages]="ratingMessage('freeExpectation')"
  ></app-rating-input>
  <app-rating-input
    formControlName="freePlusPremiumExpectations"
    label="Free + Premium Expectations"
    [messages]="ratingMessage('freePlusPremiumExpectations')"
  ></app-rating-input>
  <!-- rating input-->

  <mat-form-field>
    <input matInput type="number" placeholder="Price" formControlName="price" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Promotional Period</mat-label>
    <mat-date-range-input [rangePicker]="promoPicker">
      <input
        matStartDate
        placeholder="Start date"
        formControlName="promoStartAt"
      />
      <input matEndDate placeholder="End date" formControlName="promoEndAt" />
    </mat-date-range-input>
    <mat-error *ngIf="form.errors?.promoPeriod && form.dirty">
      The start date must be before the end date</mat-error
    >
    <!-- better approach -->
    <!-- The 'mat-date-range-input' already has a validator implemented on it to check if the endDate is higher than the startDate and it returns 'matEndDateInvalid'. -->
    <mat-error *ngIf="_promoEndAt.errors?.matEndDateInvalid">Invalid End Date</mat-error>

    <mat-datepicker-toggle
      matSuffix
      [for]="promoPicker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #promoPicker></mat-date-range-picker>
  </mat-form-field>
</div>

<div class="form-val">Form validity state: {{ form.valid }}</div>

<div class="form-val">
  {{ form.value | json }}
</div>

<div class="form-val">
  thumbnail errors: {{ form.controls.thumbnail.errors | json }}
</div>

<div class="form-val">
  thumbnail touched: {{ form.controls.thumbnail.touched }}
</div>
