<div class="create-course-panel data-form">
  <h2>Add New Course</h2>

  <mat-horizontal-stepper
    class="mat-elevation-z5"
    labelPosition="bottom"
    [linear]="false"
  >
    <!-- todo: linear true yap development sonrası -->
    <mat-step [stepControl]="step1.form" errorMessage="Landing page in error">
      <ng-template matStepLabel>Course Landing Page Details</ng-template>
      <app-add-course-step1 #step1></app-add-course-step1>
      <div class="stepper-buttons">
        <button mat-raised-button color="primary" matStepperNext>
          Continue to Step 2
        </button>
      </div>
    </mat-step>
    <mat-step errorMessage="Pricing in error">
      <app-add-course-step2></app-add-course-step2>
      <ng-template matStepLabel>Course Pricing Details</ng-template>
      <div class="stepper-buttons">
        <button mat-raised-button color="primary" matStepperPrevious>
          Back to Step 1
        </button>
        <button mat-raised-button color="primary" matStepperNext>
          Continue to Step 3
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
