<div class="grid">
  <div class="col-12 md:col-6 lg:col-3 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-pink-400 text-2xl">Warehouses</h5>
        <p class="card-text">
          You can create new <i><b>Warehouses</b></i> and also can update/delete
          current <i><b>Warehouses</b></i>
        </p>
      </div>
      <a
        class="btn btn-primary stretched-link w-25 ml-4 mb-4"
        [routerLink]="'depolar/depo-listesi'"
        >Go</a
      >
    </div>
  </div>

  <div class="col-12 md:col-6 lg:col-3 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-pink-400 text-2xl">Stock Locations</h5>
        <p class="card-text">
          You can create new <i><b>Stock Locations</b></i> and also can
          update/delete current <i><b>Stock Locations</b></i>
        </p>
      </div>
      <a
        class="btn btn-primary stretched-link w-25 ml-4 mb-4"
        [routerLink]="'stok-yerleri/stok-yerleri-listesi'"
        >Go</a
      >
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-pink-400 text-2xl">Warehouse Groups</h5>
        <p class="card-text">
          You can create new <i><b>Warehouse Groups</b></i> and also can
          update/delete current <i><b>Warehouse Groups</b></i>
        </p>
      </div>
      <a
        class="btn btn-primary stretched-link w-25 ml-4 mb-4"
        [routerLink]="'depo-gruplari/depo-gruplari-listesi'"
        >Go</a
      >
    </div>
  </div>
</div>
